127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

########## {{ pop }} ###########

172.23.52.84 e1-gru1-dev-firewall-11
172.23.52.87 e1-gru1-dev-proxy-11
172.23.52.88 e1-gru1-dev-proxy-12
172.23.52.90 e1-gru1-dev-control-11 controller-11
172.23.52.91 e1-gru1-dev-control-12 controller-12
172.23.52.92 e1-gru1-dev-control-13 controller-13
172.23.52.93 e1-gru1-dev-worker-11
172.23.52.94 e1-gru1-dev-worker-12
172.23.52.95 e1-gru1-dev-worker-13


